<div id="comment-overlay">
  <div id="create-comment-container">
    <div style="margin: 10px">Loading…</div>
  </div>
</div>

<script type="text/javascript">
<% if Rails.env.development? %>

  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) window.console.log(message);
  };
  
  // Flash fallback logging - don't include this in production
  WEB_SOCKET_DEBUG = true;
  
<% end %>

  var pusher = new Pusher('<%= Pusher.key %>');
  var channel = pusher.subscribe('<%= ACTIVITY_CHANNEL %>');
  channel.bind('<%= CommentActivity.to_s %>', function(data) {
    var contentElement = $(data.full_content);
    var spriteCommentsElement = $('#comments-sprite-' + data.commentable_id)[0];
    if (!spriteCommentsElement) { return; }
    contentElement.hide().prependTo(spriteCommentsElement).slideToggle();
  });
</script>