.mainmenu {
	font-size: 16pt;
	font-weight: bold;
}

.hmenu a {
	text-decoration: none;
}

.hmenu a:hover {
	text-decoration: underline;
}

ul.hmenu {
	list-style: none;
	margin: 0 0 2em;
	padding: 0;
}

ul.hmenu li {
  display: inline;
	margin-left: 5px;
}

.notice {
	background-color: #dfd;
	border: 1px solid #070;
}

.alert {
  background-color: #ffa;
  border: 1px solid #a70;
}

.error {
  background-color: #fdd;
  border: 1px solid #f00;
}

.notice, .alert, .error {
  margin: 5px 0;
  padding: 5px;
}

.artist {}

.artist-qc {
  font-style: italic;
}

.artist-admin {
  font-weight: bold;
}