html {
  font-family: Lucida, "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

#body-content {
  margin: 8px;
}

#dev-header {
  background-image: url('/images/construction-stripes.png');
  background-repeat: repeat-x;
  height: 20px;
}

#work-popup {
	position: absolute;
	background-color: #eee;
	display: none;
	width: 300px;
	padding: 10px;
	border: 1px solid #000;
	font-size: 90%;
	right: 6px;
	z-index: 99;
}

.work-button {
	padding: 2px 5px;
	margin: 1px 1px 0 1px;
}

.work-button-selected {
	margin: 0;
	border: 1px solid black;
	background-color: #eee;
	border-bottom-style: none;
	z-index: 100;
	position: relative;
}

.artist-work ul {
	list-style: none;
	padding-left: 10px;
}

#work-popup h2 {
	margin: 0px;
}

#work-popup .artist-work {
	margin-bottom: 10px;
}

#activity-feed-container {
  border: 1px solid black;
  margin: 10px 0;
  width: 100%;
  height: 220px;
  overflow-y: auto;
  font-size: smaller;
  -moz-box-shadow: inset 0 0 5px 2px #888;
  -webkit-box-shadow: inset 0 0 5px 2px #888;
  box-shadow: inset 0 0 5px 2px #888;
}

.activity-description {
  max-width: 500px;
  float: left;
  padding-left: 10px;
}

.activity-feed-item {
  width: 740px;
}

#activity-feed-container #activity-feed {
  padding: 0;
}

#activity-feed-container .activity-separator {
  display: none;
}

#activity-feed-container .activity-feed-item {
  float: left;
  width: 370px;
	height: 96px;
  margin: 6px;
}

#activity-feed-container .activity-description {
  width: 250px;
}

#activity-feed-container p {
  margin: 0;
  margin-top: 5px;
}

.activity-feed-item .button-container {
  float: left;
}

.activity-separator {
  width: 75%;
}

#gallery {
  width: 858px;
  margin: 0 auto;
}

#gallery table {
  border-collapse: collapse;
}

.gallery-cell {
  border: 2px solid #ddd;
  padding: 2px;
}

.pokemon-state {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leftimage {
  display: block;
  float: left;
}

.mainmenu {
  font-size: 16pt;
  font-weight: bold;
}

.hmenu a {
  text-decoration: none;
}

.hmenu a:hover {
  text-decoration: underline;
}

.mainmenu .less-important {
  font-size: 70%;
}

.mainmenu .less-important:before {
  margin-right: 10px;
  content: "\2022";
}

ul.hmenu {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

ul.hmenu li {
  display: inline;
  margin-left: 5px;
}

.notice {
  background-color: #dfd;
  border: 1px solid #070;
}

.alert {
  background-color: #ffa;
  border: 1px solid #a70;
}

.error {
  background-color: #fdd;
  border: 1px solid #f00;
}

.notice, .alert, .error {
  margin: 5px 0;
  padding: 5px;
}

.artist {}

.artist-qc {
  font-style: italic;
}

.artist-admin {
  font-weight: bold;
}

.destructive {
  font-weight: bold;
  color: red;
}

.sprite-display {
  border: 1px dashed #999;
  padding: 5px;
  margin: 5px;
  background-color: white;
}

.pretty-submit {
  font-size: 16px;
  border-style: none;
  margin: 1px;
  padding: 2px 10px;
  background-color: #bbb;
}

.pretty-submit:hover {
  color: white;
  background-color: #090;
}

.pretty-submit:disabled {
  color: #666;
  background-color: #bbb;
}

#comment-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

#create-comment-container {
  display: none;
  width: 800px;
  text-align: center;
  border: 5px solid black;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 100px auto;
  background-color: #ddd;
}

.comment {
  padding: 5px;
  border: 1px solid #999;
  background-color: #eee;
  margin: 4px 0;
}

.comments-container {
  margin-bottom: 10px;
}

/* Modified from http://www.red-team-design.com/just-another-awesome-css3-buttons */

.button
{
  vertical-align: middle;
  text-align: center;
  min-width: 96px;
  height: 96px;
  display: table-cell;
  white-space: nowrap;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  background-image: -webkit-linear-gradient(top, #eee, #ccc);
  background-image: -moz-linear-gradient(top, #eee, #ccc);
  background-image: -ms-linear-gradient(top, #eee, #ccc);
  background-image: -o-linear-gradient(top, #eee, #ccc);
  background-image: linear-gradient(top, #eee, #ccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
  border: 1px solid #777;
  margin: 0.5em;
  font-weight: bold;
  font-size: 1em;
  line-height: 2em;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;
  border-radius: .2em;
  -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover
{
  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
  background-image: -moz-linear-gradient(top, #fafafa, #ddd);
  background-image: -ms-linear-gradient(top, #fafafa, #ddd);
  background-image: -o-linear-gradient(top, #fafafa, #ddd);
  background-image: linear-gradient(top, #fafafa, #ddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}

.button:active
{
  -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
  -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
  box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
  position: relative;
  top: 1px;
}

.button:focus
{
  outline: 0;
  background: #fafafa;
}