<div style="background-image: url('<%= image_path 'background-stripes.png' %>'); padding: 0;">
  <img
    src="data:image/png;base64,<%= colour_map %>"
    style="margin: 0; border: 0; float: left"
   />
  <div style="clear: both">
</div>