<% if pokemon_counter % ApplicationHelper::GALLERY_COLUMNS == 0 %>
<tr>
<% end %>

<% cache(pokemon) do %>
<td id="pokemon_<%= pokemon.id %>" class="gallery-cell">
	<% series = pokemon.current_series %>
	<div style="width: 160px; height: 160px">
		<%= link_to(image_tag(series.latest_sprite.image.url), named_pokemon_path(:name => pokemon.name, :form => pokemon.form_name)) if series and series.latest_sprite and series.latest_sprite.image? %>
	</div>
	<div class="pokemon-state"><%= link_to pokemon.full_name, named_pokemon_path(:name => pokemon.name, :form => pokemon.form_name) %></div>
	<%= html_for_series(series) %>
</td>
<% end %>

<% if pokemon_counter == number_of_entries - 1 or pokemon_counter % ApplicationHelper::GALLERY_COLUMNS == (ApplicationHelper::GALLERY_COLUMNS - 1) %>
</tr>
<% end %>