<% if pokemon_counter % 6 == 0 %>
<tr>
<% end %>

<% cache(pokemon) do %>
<td>
	<div id="pokemon_<%= pokemon.id %>">
		<% series = pokemon.current_series %>
		<div style="width: 160px; height: 160px">
			<%= image_tag series.latest_sprite.image.url if series and series.latest_sprite and series.latest_sprite.image? %>
		</div>
		<%= link_to pokemon.full_name, named_pokemon_path(:name => pokemon.name, :form => pokemon.form_name) %><br />
		<% if series %>
		<%= html_for_series(series) %>
		<% else %>
		available
		<% end %>
	</div>
</td>
<% end %>

<% if pokemon_counter == number_of_entries - 1 or pokemon_counter % 6 == 5 %>
</tr>
<% end %>