<% cache(pokemon) do %>
<div id="pokemon_<%= pokemon.id %>" class="gallery-cell">
	<% series = pokemon.current_series %>
	<div style="width: 160px; height: 160px">
		<%= link_to(image_tag(series.latest_sprite.image.url), named_pokemon_path(:name => pokemon.name, :form => pokemon.form_name)) if series and series.latest_sprite and series.latest_sprite.image? %>
	</div>
	<%= link_to pokemon.full_name, named_pokemon_path(:name => pokemon.name, :form => pokemon.form_name) %>
	<%= html_for_series(series) %>
</div>
<% end %>