<h1><%= title_pokemon.full_name %>
    <%= link_to(content_tag(:span, "#{title_pokemon.series.count} other sprite series", :style => "font-size: 50%"), pokemon_series_index_path(title_pokemon)) if title_pokemon.series.count > 1 %></h1>
