<div>
  <% if activity.is_a? UploadActivity %>
  <div style="float: left">
    <%= image_tag(activity.sprite.image.url, :style => "padding: 5px; margin: 5px; border: 1px dashed #999") %>
    <%= render :partial => "sprites/colour_map", :locals => { :colour_map => activity.sprite.colour_map, :num_colours => nil } if activity.sprite.colour_map %>
  </div>
  <% end %>
  <div style="float: left">
    <span style="font-weight: bold; font-size: 80%"><%= format_activities_datetime(activity.created_at) %></span>
    <br /><br />
    <%= text_for_activity(activity) %>
  </div>
  <div style="clear: both"></div>
</div>