<%= render :partial => 'pokemon/pokemon_title', :locals => {:title_pokemon => @pokemon} if @pokemon %>
<%= content_tag(:h2, humanize_state_description(@filter)) if @filter %>

<div style="text-align: center">
<% @series.each do |series| %>
  <% if @pokemon %>
    <% text = humanize_state_description(series.state).html_safe %>
    <% text += "<br />by ".html_safe + content_tag(:span, series.reserver.name) if series.state == SERIES_RESERVED %>
    <% text += "<br />(Limbo)".html_safe if series.limbo? %>
  <% else %>
    <% text = series.pokemon.full_name %>
  <% end %>
  <div class="gallery-series">
    <%= series_button(series, text, series.latest_sprite, false, {:title => series.flag == FLAG_REDO ? 'Flagged for redo' : series.flag == FLAG_TWEAK ? 'Flagged for tweak' : ''}) %>
  </div>
<% end %>
</div>