<%= render :partial => 'pokemon/pokemon_title', :locals => {:title_pokemon => @pokemon, :all_series => true} if @pokemon %>
<%= content_tag(:h2, humanize_state_description(@filter)) if @filter %>

<div style="text-align: center">
<% @series.each do |series| %>
  <% if @pokemon %>
    <% text = humanize_state_description(series.state).html_safe %>
  <% else %>
    <% text = series.pokemon.full_name %>
  <% end %>
  <% text += ' '.html_safe + content_tag(:span, 'limbo', :class => 'label label-warning') if series.limbo? %>
  <div class="gallery-series">
    <%= series_button(series, text, series.latest_sprite, false, {:title => series.flag == FLAG_REDO ? 'Flagged for redo' : series.flag == FLAG_TWEAK ? 'Flagged for tweak' : ''}) %>
  </div>
<% end %>
</div>